@model JustManAdmin.Models.User
@{
    ViewData["Title"] = "Change password";
}
<h1>Change password</h1>
<form asp-controller="User" asp-action="EditPassword" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label>User's login</label>
            <input type="text" asp-for="Login" />
        </div>
        <div>
            <label>New password</label>
            <input type="password" asp-for="Password" />
        </div>
        <div>
            <input type="submit" value="Change" onclick="return confirm('Are you sure?')"/>
        </div>
    </div>
    </form>